---
layout: default
---

<div class='hero'>
  <div class="wrapper">
    <main>
      <h1>Análise de livro</h1>
      <p>Daniel Kahneman, ganhador do Prêmio Nobel de Economia, expõe de forma intrigante os mecanismos do nosso pensamento dividindo nosso cérebro em duas partes igualmente importantes.</p>
      <p>Uma rápida, automática e quase imperceptível. Outra complexa, dedicada e que demanda esforço.</p>
      <p><a href="/resumos-de-livros/rapido-e-devagar-introducao">Leia mais sobre minha análise do livro.</a></p>
    </main>
    <div class="right-side">
      <a href="/resumos-de-livros/rapido-e-devagar-introducao"><img src='/images/rapido-e-devagar-duas-formas-de-pensar-capa.jpg' /></a>
    </div>
  </div>
</div>

<div class="wrapper">
  <ul class='home-articles-list'>
    {% for post in site.posts %}
      {% if post.indexed %}
        <li>
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p>{{post.resume}}</p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
