<aside>
  <div class="inner">
    <nav role="navigation" class='summary'>
      <ol>
        <li><a href="#introducao">Introdução</a></li>
        <li><a href="#a-investigação">A investigação</a></li>
        <li><a href="#a-dualidade-do-crer">A dualidade do crer</a></li>
      </ol>
      <ol start="4">
        <li><a href="#a-dualidade-do-eu">A dualidade do eu</a></li>
        <li><a href="#análise-da-obra">Análise da obra</a></li>
        <li><a href="#conclusão">Conclusão</a></li>
      </ol>
    </nav>
  </div>
</aside>
