<aside>
  <div class="inner">
    <nav role="navigation" class='summary'>
      <ol>
        <li>
          <a title="Introdução" href="/resumos-de-livros/rapido-e-devagar-introducao">Introdução</a>
        </li>
        <li>
          <a title="Parte 1: Os dois sistemas" href="/resumos-de-livros/rapido-e-devagar-os-dois-sistemas">Os dois sistemas</a>
        </li>
        <li>
          <a title="Parte 2: Heurísticas e vieses">Heurísticas e vieses</a>
        </li>
      </ol>
      <ol start="4">
        <li>
          <a title="Parte 3: Confiança excessiva">Confiança excessiva</a>
        </li>
        <li>
          <a title="Parte 4: Escolhas">Escolhas</a>
        </li>
        <li>
          <a title="Parte 5: Dois eus">Dois eus</a>
        </li>
      </ol>
    </nav>
  </div>
</aside>
