<div class="related-container">
  <aside role="complementary">
    <h2>Capítulos</h2>
    <nav role="navigation">
      <ol>
        <li><a href="/resumos-de-livros/intercom-on-product-management-capitulo-01">Evaluate your product</a></li>
        <li><a href="/resumos-de-livros/intercom-on-product-management-capitulo-02">When to say no to new features</a></li>
        <li><a href="/resumos-de-livros/intercom-on-product-management-capitulo-03">Which new features to build</a></li>
        <li><a href="/resumos-de-livros/intercom-on-product-management-capitulo-04">Getting that feature used</a></li>
      </ol>
    </nav>
  </aside>
</div>
