<main class='post'>
  <h1>{{ post.title }}</h1>

  {% if post.summary %}
    {% include summary/{{post.summary}} %}
  {% endif %}

  <hr>

  <small>Escrito em: {{ post.date | date: "%d/%m/%Y" }} por Anderson Dias</small>

  {{ content }}

  <nav class='pagination'>
    <ul>
      {% if post.previous_page %}
        <li class='previous'><a href="{{post.previous_page.url}}">< Anterior: {{post.previous_page.text}}</a></li>
      {% endif %}
      {% if post.next_page %}
        <li class='next'><a href="{{post.next_page.url}}">Próximo: {{post.next_page.text}} ></a></li>
      {% endif %}
    </ul>
  </nav>
</main>

{% if post.related_content %}
  {% include related_content/{{post.related_content}} %}
{% endif %}

