<div class='post'>
  <h2>{{ post.title }}</h2>
  {{ content }}

  <span class='time'>{{ post.date | date: "%Y-%m-%d" }}</span>

  {% if post.categories.size > 0 %}
  <ul class='categories'>
    {% for category in post.categories %}
    <li>{{ category }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div id='post-navigation'>
    {% if post.previous %}
      <a href="{{ post.previous.url }}" title="{{ post.previous.title }}">&larr; {{post.previous.title }}</a>
    {% endif %}
    {% if post.next %}
      <a href="{{ post.next.url }}" title="{{ post.next.title }}">{{post.next.title }} &rarr;</a>
    {% endif %}
  </div>

  <img src='/images/separator.gif' class='separator'/>


  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'extendsmymind';

      var disqus_identifier = '{{ post.id }}';
      var disqus_url = '{{ post.url }}';

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
