{% include related_content/rapido-e-devagar/parte-1.html %}

<div class="related-container">
  <aside role="complementary">
    <h2>Leitura recomendada</h2>
    <nav role="navigation">
      <ol>
        <li>O Gorila Invisível e outros Equívocos da Intuição, por Christopher Chabris.</li>
        <li><a href="http://blog.trello.com/why-context-switching-ruins-productivity">The Invisible Problem Wrecking Your Productivity And How To Stop It, by Jessica Harris</a></li>
        <li><a href="http://blog.trello.com/phone-notifications-ruin-productivity">Constant Phone Notifications Are Ruining Your Productivity, by Lauren Moon</a></li>
      </ol>
    </nav>
  </aside>
</div>
