<div class="related-container">
  <aside role="complementary">
    <h2>Capítulos</h2>
    <nav role="navigation">
      <ol>
        <li><a href="/resumos-de-livros/rapido-e-devagar-capitulo-01">Os personagens da história</a></li>
        <li><a href="/resumos-de-livros/rapido-e-devagar-capitulo-02">Atenção e esforço</a></li>
        <li><a href="/resumos-de-livros/rapido-e-devagar-capitulo-03">O controlador preguiçoso</a></li>
        <li><a href="/resumos-de-livros/rapido-e-devagar-capitulo-04">A máquina associativa</a></li>
        <li><a href="/resumos-de-livros/rapido-e-devagar-capitulo-05">Conforto cognitivo</a></li>
        <li><a href="/resumos-de-livros/rapido-e-devagar-capitulo-06">Normas, supresas e causas</a></li>
        <li><a href="/resumos-de-livros/rapido-e-devagar-capitulo-07">Uma máquina de tirar conclusões precipitadas</a></li>
        <li><a href="/resumos-de-livros/rapido-e-devagar-capitulo-08">Como os julgamentos acontecem</a></li>
        <li><a href="/resumos-de-livros/rapido-e-devagar-capitulo-09">Respondendo a uma pergunta mais fácil</a></li>
      </ol>
    </nav>
  </aside>
</div>
