body {
  font-family: 'Roboto', serif;
  line-height: 1.5;
  font-size: 19px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
  line-height: 1.3em;
}

ol, ul {
  padding: 0;
}

ul li {
  list-style: none;
  list-style-position: outside;
}

ol li {
  list-style-position: inside;
}

hr {
  clear: both;
  border: solid #bbb;
  border-width: 1px 0 0 0; 
}

a {
  color: #228CDB;
}

a:visited {
  color: #9C95DC;
}

.inset {
  margin-left: -25px;
}

.wrapper {
  width: 960px;
  margin: auto;
}

.breadcrumbs {
  clear: both;
  padding: 12px 0;
}

.breadcrumbs ol {
  position: relative;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  float: left;
  font-size: 16px;
  line-height: 1.25;

  padding-right: 15px;
  font-size: 16px;
}

.breadcrumbs a {
  color: #3a3a3a;
}

header {
  background-color: black;
  width: 100%;
}

header a {
  text-decoration: none;
  color: white;
  line-height: 2.5em;
  border-left: 1px solid white;
  padding: 0 8px 0 10px;
}

header a:visited {
  color: white;
}

header a.home {
  border: 0px;
}

.container {
  display: block;
  clear: both;
  margin: 0 -15px;
}

main {
  box-sizing: border-box;
  padding: 0 15px;
  float: left;
  width: 66.66667%;
  margin-bottom: 50px;
}

main.post h1 {
  margin-bottom: 0px;
}

main.post ul li {
  margin-bottom: 0.8em;
  list-style: disc;
}

main.post ul li ul li {
  margin-bottom: 0.4em;
  list-style: circle;
  margin-left: 1em;
}

aside nav.summary ol {
  margin: 10px 0 20px;
  padding: 0;
  float: left;
  display: inline;
  overflow: hidden;
  width: 50%;
  font-size: 16px;
}

aside nav ol li {
  padding: 0.25em 0;
}
.related-container {
  padding: 0 15px;
  box-sizing: border-box;
  float: left;
  width: 33.33333%;
  line-height: 1.25;
}

.related-container aside {
  border-top: 10px #0B7189 solid;
  margin-top: 35px;
  padding: 0px 20px 10px 20px;
  background: #FDF6F0;
}

.related-container li {
  margin: 0.25em 0 1em 0;
  font-size: 16px;
  line-height: 2em;
}

aside .page-navigation ol {
  margin: 0 0 1.2em 0;
  padding: 0;
  float: left;
  display: inline;
  overflow: hidden;
  width: 50%;
}

aside .page-navigation li {
  font-size: 16px;
  line-height: 2;
}

footer {
  clear: both;
  border-top: 10px #0B7189 solid;
  margin-top: 10px;
  background-color: #F3F3F3;
  padding-bottom: 10px;
}

.image-description {
  font-size: 14px;
  margin-top: -15px;
}

nav.pagination ul li {
  width: 50%;
  list-style: none;
}

nav.pagination li a {
  padding: 25px 0;
}

nav.pagination li.previous {
  float: left;
  text-align: left;
}
nav.pagination li.next {
  float: right;
  text-align: right;
}

.hero {
  background-color: #0B7189;
  height: 315px;
  color: white;
}

.hero h1 {
  margin: 20px 0 0 0;
}

.hero p {
  margin: 20px 0 0 0;
}

.hero img {
  height: 275px;
  border: 10px solid white;
  margin: 10px 0;
}

.hero .right-side {
  padding: 0 15px;
  box-sizing: border-box;
  float: left;
  width: 33.33333%;
  line-height: 1.25;
}

.hero main {
  padding-left: 0px;
  padding-right: 30px;
}

.hero a {
  color: white;
  font-weight: bold;
}

ul.home-articles-list li {
  width: 45%;
  margin-right: 5%;
  float: left;
  display: inline;
}

ul.home-articles-list li h3 {
  font-size: 19px;
  line-height: 1.31579;
  margin-bottom: 0;
  margin-top: 0;
}

ul.home-articles-list li p {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.25;
  min-height: 40px;
}
