<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <title>Blog &lt; MyMind</title> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
    <meta content="Anderson Dias" name="author" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen">
    <link rel="alternate" type="application/atom+xml" href="http://andersondias.github.com/atom.xml">
  </head>
  <body>
    <div id='header'>
      <h1>Blog &lt; MyMind</h1>
      <ul id='navigation'>
        <li><a href='/'>Home</a></li>
        <li><a href='/archive.html'>Archive</a></li>
        <li><a href='/sobre.html'>Sobre</a></li>
      </ul>
    </div>
    <div id='content'>
      {{ content }}
    </div>
    <div id='footer'>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
    </div>
  </body>
</html>
