<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <title>{{ post.title }}</title> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
    <meta content="Anderson Dias" name="author" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen, print">
    <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">

    <link rel="alternate" type="application/atom+xml" href="http://andersondias.github.com/atom.xml">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21015399-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body>
    <div id='header'>
      <h1>Blog &lt; MyMind</h1>
      <ul id='navigation'>
        <li><a href='/'>Home</a></li>
        <li><a href='/artigos.html'>Artigos</a></li>
        <li><a href='/sobre.html'>Sobre</a></li>
      </ul>
    </div>
    <div id='content'>
      {{ content }}
    </div>
    <div id='footer'>
      <p class='printed-copyright'>Este artigo é de autoria de Anderson Dias.</p>
      <p class='printed-copyright'>extendsmymind.com &copy; 2011</p>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
    </div>
    <script type="text/javascript">
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0020/0984.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
  </body>
</html>
