<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ post.title }}</title> 
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <meta content="Anderson Dias" name="author" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen, print">
    <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">

    <link rel="alternate" type="application/atom+xml" href="http://andersondias.github.com/atom.xml">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21015399-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <nav>
          <a class='home' href="/">andersondias.github.com</a>
          <a href="/sobre">sobre mim</a>
        </nav>
      </div>
    </header>
    <div class='content'>
      {{content}}
    </div>
    <footer>
      <div class="wrapper">
        <p>Todo o conteúdo deste site foi escrito por Anderson Dias e pode ser livremente citado contanto que a referência à fonte seja mantida.</p>
      </div>
    </footer>
    <script type="text/javascript">
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0020/0984.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
  </body>
</html>
