<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <title>Extends My Mind</title> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
    <meta content="Anderson Dias" name="author" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen">
  </head>
  <body>
    <div id='header'>
      <h1>Blog &lt; MyMind</h1>
    </div>
    <div id='content'>
      <div class='post'>
        <h2>{{ page.title }}</h2>
        {{ content }}
      </div>
    </div>
  </body>
</html>
